* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

.miGrid {
    gap: 20px;
    /* Separación de cada celda del grid */
    width: 100%;
    max-width: 1200px;
    height: 100vh;
    display: grid;    
    grid-template-columns: repeat(4, [col-start] 1fr [col-end]);
    grid-template-rows: [header]100px [main]3fr [card]1fr [footer]100px;

    .item {
        /* Estilos comunes a todas las celdas */
        background-color: #ffffff;
        border-radius: 12px;
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.08);
        padding: 20px;
        color: white;
        font-size: 1.2rem;
        text-align: center;
        place-content: center;
    }

    .header {
        background-color: #4a90e2;
        grid-column: col-start 1 / col-end 4;
        grid-row: header;
    }

    .aside {
        background-color: #34495e;
        color: white;
        grid-column: col-start 1 / col-end 1;
        grid-row: main / footer;
    }

    .main-content {
        background-color: #f5a623;
        grid-column: col-start 2 / col-end 4;
        grid-row: main;
    }
    .card-1 {
        background-color: #50e3c2;
        grid-column: col-start 2 / col-start 3;
        grid-row: card;
    }

    .card-2 {
        background-color: #bd10e0;
        grid-column: col-start 3 / col-end 4;
        grid-row: card;
    }

    .footer {
        background-color: #4a4a4a;
        grid-column: col-start 1 / col-end 4;
        grid-row: footer;
    }
}