.lista-custom {
    list-style: none;
    padding-left: 0;

    li {
        padding-left: 20px;
        margin-bottom: 8px;
        position: relative;
    }

    /* '&' se convierte en 'li' (el padre anidado)
     La regla final es: .lista-custom li::before */
    & li::before {
        content: '☠';
        position: absolute;
        left: 0;
        top: 0;
    }
}