body {
    font-family: Arial, sans-serif;
}

/* Estilos de los elementos que flotan */
.flotante {
    width: 100px;
    height: 50px;
    padding: 10px;
    margin: 5px;
    border: 1px solid black;
    color: white;
    font-weight: bold;
    text-align: center;
}

.float-left {
    float: left;
    background-color: darkgreen;
}

.float-right {
    float: right;
    background-color: darkblue;
}

/* Estilos de los elementos que usan la propiedad clear */
.limpiador, .sin-clear {
    border: 2px dashed red;
    padding: 15px;
    margin: 10px 0;
    background-color: #ffe6e6;
}

/* 1. clear: left */
.clear-left {
    /* Fuerza al borde izquierdo a estar debajo del borde inferior de cualquier elemento flotante 'left' */
    clear: left;
}

/* 2. clear: right */
.clear-right {
    /* Fuerza al borde izquierdo a estar debajo del borde inferior de cualquier elemento flotante 'right' */
    clear: right;
}

/* 3. clear: both */
.clear-both {
    /* Fuerza al elemento a colocarse debajo del flotador más bajo (sea 'left' o 'right') */
    clear: both;
    background-color: #ccffcc;
}

/* 4. clear: none */
.sin-clear {
    /* Valor por defecto. Permite que el elemento se coloque junto a los flotantes. */
    clear: none;
}