.caja {
  width: 150px;
  height: 50px;
  margin: 10px;
  border: 2px solid gray;
  background-color: lightgray;
  text-align: center;
}

.caja-relative {
  /* Habilita la propiedad 'left' */
  position: relative; 
  background-color: lightgreen;
  
  /* El elemento se mueve 50px hacia la derecha desde su posición original */
  left: 50px; 
}

.contenedor-padre {
  /* Establece el punto de referencia para la caja absoluta */
  position: relative; 
  width: 300px;
  height: 150px;
  border: 3px dashed blue;
}

.caja-absolute {
  /* Saca el elemento del flujo normal */
  position: absolute; 
  background-color: lightcoral;
  width: 100px;
  height: 100px;

  /* La caja se alinea con el borde izquierdo del contenedor-padre */
  left: 0; 
  top: 25px; /* Para distinguirlo, lo movemos 25px hacia abajo */
}
.barra-fija-izquierda {
  position: fixed; /* Fija el elemento a la ventana */
  right: 0; /* Lo pega al borde derecho */
  top: 0; /* Lo pega al borde superior */
  width: 150px;
  height:100svb; /* Ocupa el 100% de la altura de la ventana */
  background-color: #2c3e50;
  color: white;
  padding: 10px;
}