body {
    color: blue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* No todas las propiedades se heredan como el border */
    border: 2px solid red;     
}
main {
    /* border: inherit; */
}
p{
    color: yellow;
}

main p{
/* 
Coge el del body, en el caso de no tener
pone el valor inicial, black
*/    
    color: unset;
}